$bg-primary: rgb(7, 7, 7);
$bg-secondary:rgba(7, 7, 7, 0.6);
$white: rgb(255, 255, 255);
$lighter-white: rgba(255, 255, 255, 0.5);
$dark-gray: rgba(34, 34, 34, 0.25);
$lighter-gray: rgb(49, 49, 52);
$light-gray: rgba(255, 255, 255, 0.2);
$red: rgb(233, 58, 58);
$border: rgb(32, 32, 32);
$black: rgb(0, 0, 0, );